body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 80%;
  max-width: 600px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
  background-color: #4CAF50;
  padding: 1rem;
  border-radius: 4px;
  margin-top: 0;
}

p {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 2rem;
  text-align: center;
}

a {
  display: inline-block;
  background-color: #4CAF50;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  margin-right: 1rem;
  margin-top: 2rem;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #3e8e41;
}

h2 {
  font-size: 1.5rem;
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: #fff;
}

input[type="number"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 1rem;
}

select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 1rem;
}

button {
  display: block;
  width: 100%;
  background-color: #4CAF50;
  color: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

button:hover {
  background-color: #3e8e41;
}

.button {
  display: inline-block;
  background-color: #4CAF50;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #3e8e41;
}
